.draggable {
  position: absolute;
  top: 45%;
  left: 20%;
  width: 200px;
  height: 100px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: blue;
}
.black {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: black;
}
.km {
  font-family: Pragmatica;
  font-size: 10px;
  position: absolute;
  color: white;
}
.ananaa {
  position: absolute;
  background-color: blue;
  height: 40px;
  width: 40px;
  /* transition: 0.1s ease; */
}
.disco {
  position: relative;
  background: url("../images/disco.svg");
  background-size: contain;
  width: 9.29vw;
  height: 6.19vw;
  background-repeat: no-repeat;
}
.vulkan {
  position: relative;
  background: url("../images/vulkan.svg");
  background-size: contain;
  width: 7.14vw;
  height: 5.36vw;
  background-repeat: no-repeat;
}
.vo {
  position: absolute;
  background-image: url("../images/vo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 13.6vw;
  height: 10.8vw;
  left: 43.03vw;
  top: 5.54vh;
}
.f1o {
  position: absolute;
  background-image: url("../images/f1o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8.66vw;
  height: 4.38vw;
  left: 28.54vw;
  top: 16.15vh;
  z-index: 1;
}
.f2o {
  position: absolute;
  background-image: url("../images/f2o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.88vw;
  height: 4.58vw;
  left: 2.54vw;
  bottom: 37.15vh;
}
.f3o {
  position: absolute;
  background-image: url("../images/f3o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 6.01vw;
  height: 6.84vw;
  left: 35.54vw;
  bottom: 28.15vh;
}
.f4o {
  position: absolute;
  background-image: url("../images/f4o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7.06vw;
  height: 6.49vw;
  left: 49.54vw;
  bottom: 10vh;
}
.f5o {
  position: absolute;
  background-image: url("../images/f5o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7.04vw;
  height: 6.10vw;
  right: 26vw;
  top: 39vh;
}
.f6o {
  position: absolute;
  background-image: url("../images/f6o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 6.88vw;
  height: 4.58vw;
  right: 4vw;
  bottom: 6.5vh;
}
.f1oo {
  position: absolute;
  background-image: url("../images/f1oo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8.66vw;
  height: 4.38vw;
  z-index: 1;
  opacity: 0;
}

.voo {
  position: absolute;
  background-image: url("../images/voo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 13.45vw;
  height: 10.60vw;
  top: 1px;
  left: 1px;
  opacity: 0;
  transition: 0.5s ease;
}
.square {
  position: absolute;
  background-color: #EFEFEF;
}
.square p {
  font-size: 13px;
  text-align: center;
  font-family: Pragmatica;
  line-height: 13px;
  margin-top: 0.38vw;
  margin-bottom: 0.40vw;
  margin-left: 0.83vw;
  margin-right: 0.83vw;
}
.sq {
  position: absolute;
}
.didi {
  right: 1.5vw;
  top: 41.3vh;
}
.kuku {
  right: 11.6vw;
  top: 23.5vh;
}
.cece {
  top: 3vh;
  right: 20vw;
}
.stst {
  bottom: 10.6vh;
    left: 28.7vw;
}
.hoho {
  left: 1.6vw;
  bottom: 2.2vh;
}
.gregre {
  left: 6.8vw;
  top: 29vh;
}
.bobo {
  left: 26vw;
  top: 30.2vh;
}
.papa {
  left: calc(50vw - 4vw);
  top: 40vh;
}
.vuvu {
  position: absolute;
  left: 46.3vw;
  top: 4.1vw;
}
.koko {
  bottom: 34.7vh;
      right: 31.2vw;
  }
.gigi {
  width: 4.68vw;
  bottom: 26.2vh;
  right: 16.7vw;
}
.oval {
  position: relative;
  background-color: #EFEFEF;
  margin-left: 0.83vw;
  margin-right: 0.83vw;
}
.cloth {
  top: 65.5vh;
left: 16vw;
}
.momo {
  position: relative;
  height: 5.36vw;
  width: 7.68vw;
}
.dis {
  margin-left: 1.83vw;
    margin-right: 1.4vw;
}
.ku {
  margin-left: 0.4vw;
margin-right: 1.3vw;
}
.ce {
width: 5.73vw;
}
.sto {
  margin-left: 1.7vw;
margin-right: 1.7vw;
}
.gree {
  width: 7.02vw;
}
.bo {
  width: 4.53vw;
}
.v {
  margin-left: 1.5vw;
  margin-right: 1.3vw;
}
.oval p {
  font-size: 13px;
  text-align: center;
  font-family: Pragmatica;
  line-height: 0.77vw;
  margin-top: 1.14vh;
  /* margin-top: 0.38vw; */
  padding-bottom: 0.40vw;
  padding-top: 0.38vw;
  /* margin-left: 0.83vw;
  margin-right: 0.83vw; */
}
.ho {
  margin-left: 2.9vw;
    margin-right: 3.1vw;
}
.sticks {
  position: relative;
  width: 8vw;
  height: 12vh;
}
.pa {
  margin-left: 1.5vw;
  margin-right: 1.3vw;
}
.gigigi {
  /* padding-top: 0.38vw; */
  width: 4.53vw;
}
.kol {
  /* width: 5.24vw; */
}
.v {

}
.co {
  position: absolute;
      background-image: url(../images/co.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 5.81vw;
      height: 5.42vw;
      right: 21.03vw;
      top: 11vh;
}

.veno {
  position: absolute;
      background-image: url(../images/veno.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 9.57vw;
      height: 9.66vw;
      right: 12.4vw;
      bottom: 18.3vh;
}
.diso {
  position: absolute;
      background-image: url(../images/diso.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 10.71vw;
      height: 9.69vw;
      right: 1.4vw;
    bottom: 38.3vh;
}
.venoo {
  position: absolute;
  background-image: url("../images/venoo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 9.57vw;
  height: 10.66vw;
  top: -4px;
  left: -1px;
  opacity: 0;
  transition: 0.5s ease;
}
.gi {
  right: 3.5vw;
  top: 2.5vw;
}
.cu {
  bottom: 2vh;
  right: 4vw;
}
.kol {
}
.clotho {
  position: absolute;
  background-image: url(../images/clotho.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 11.26vw;
    height: 12.38vw;
    /* left: 14.8vw;
    bottom: 26vh; */
}
.clothes {
  position: absolute;
  background: url("../images/cloth.svg");
  background-size: contain;
  width: 7.68vw;
  height: 5.36vw;
  background-repeat: no-repeat;
  left: 0;
}
.moveit {
  position: absolute;
  top: 56vh;
  left: 16.5vw;
  transition: 0.3s ease;
}
.draggableble {
  position: absolute;
  /* background-color: blue; */
  top: 56vh;
  left: 16.5vw;
  width: 7.68vw;
  height: 5.36vw;
  /* opacity: 0.5; */
}
.straight {
  position: absolute;
  top: 0;
  right: 0;
  height: 0.3vw;
  width: 7.14vw;
  background-color: black;
}
.green {
  position: relative;
  background: url("../images/green.svg");
  background-size: contain;
  width: 4.46vw;
  height: 6.25vw;
  background-repeat: no-repeat;
  margin-left: 1vw;
}
.bog {
  position: relative;
  background: url("../images/bog.svg");
  background-size: contain;
  width: 3.63vw;
  height: 7.92vw;
  background-repeat: no-repeat;
  margin-left: 1vw;
}
.cow {
  position: absolute;
  background-color: green;
  width: 20px;
  height: 20px;
  top: 10vw;
  left: 30vw;
}
.none {
  display: none;
}
.block {
  display: block;
}
.fire {
  position: absolute;
  overflow: hidden;
  background: url("../images/fire.svg") no-repeat 0% 0%;
  background-size: cover;
}
.start {
  animation: fire 1s steps(8);
  animation-fill-mode: forwards;
}
.burning {
  animation: firetwo 1s steps(2) infinite;
}
.a {
  left: 31.2%;
  top: 14.5%;
  width: 2.49vw;
  height: 3.50vw;
}
.b {
  left: 4.7%;
  top: 53.5%;
  width: 2.49vw;
  height: 3.50vw;
}
.c {
  right: 28.4%;
  top: 39.4%;
  width: 2.49vw;
  height: 3.50vw;
}
.d {
  right: 5.7%;
  top: 84.4%;
  width: 2.49vw;
  height: 3.50vw;
}
.e {
  right: 46.3%;
  top: 82%;
  width: 2.11vw;
  height: 2.97vw;
}
.f {
  left: 37.5%;
  top: 60.6%;
  width: 2.11vw;
  height: 2.97vw;
}
@keyframes fire {
  from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@keyframes firetwo {
  from { background-position: 87.8% 0; }
    to { background-position: 112.5% 0; }
}
.celcium {
  position: relative;
  background: url("../images/celcium.svg");
  background-size: contain;
  width: 0.95vw;
  height: 6.96vw;
  background-repeat: no-repeat;
  margin-left: 3vw;
}
.houses {
  position: relative;
  background: url("../images/houses.svg");
  background-size: contain;
  width: 10.87vw;
  height: 4.81vw;
  background-repeat: no-repeat;

}
.pant {
  position: relative;
  background: url("../images/pant.svg");
  background-size: contain;
  width: 7.44vw;
  height: 6.43vw;
  background-repeat: no-repeat;
}
.girl {
  position: relative;
  background: url("../images/girl.svg") no-repeat;
  background-position: 0 0%;
  background-size: cover;
  overflow: hidden;
  margin-left: 2vw;
  width: 3.45vw;
  height: 7.92vw;
  background-repeat: no-repeat;
  /* right: 16vw;
  bottom: 31vh; */
}
.animate {
  animation: girl 2s steps(17);
  /* animation-play-state: paused; */
}
@keyframes girl {
  from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
.kuzn {
  position: relative;
  background: url("../images/kuzn.svg");
  background-size: contain;
  width: 6.13vw;
  height: 5.42vw;
  background-repeat: no-repeat;
}
.cubo {
  position: absolute;
  background-image: url(../images/cubo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 11.69vw;
  height: 10.16vw;
  right: 22vw;
  bottom: 5vh;
}
.kuzo {
  position: absolute;
  background-image: url(../images/kuzo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16.23vw;
  height: 13.84vw;
  right: 7vw;
  top: 25vh;
}
.panto {
  position: absolute;
  background-image: url(../images/panto.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 8.47vw;
  height: 7.5vw;
  right: 46vw;
  top: 41.5vh;
}
.greeno {
  position: absolute;
  background-image: url(../images/greeno.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 9.56vw;
  height: 9.31vw;
  left: 5.8vw;
  top: 34vh;
}
.sticko {
  position: absolute;
  background-image: url(../images/sticko.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13.06vw;
  height: 9.68vw;
  left: 25.8vw;
  bottom: 6.4vh;
}
.kolizo {
  position: absolute;
  background-image: url(../images/kolizo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12.83vw;
  height: 8.03vw;
  right: 30vw;
  bottom: 32.7vh;
}
.bogo {
  position: absolute;
  background-image: url(../images/bogo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 9.89vw;
  height: 8.95vw;
  left: 24vw;
  top: 38.7vh;
}
.homo {
  position: absolute;
  background-image: url(../images/homo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18.68vw;
  height: 17.38vw;
  left: -3.2vw;
  bottom: -4.6vh;
}

.cubes {
  position: absolute;
  background: url("../images/cubes.svg");
  background-size: contain;
  width: 6.31vw;
  height: 5.65vw;
  background-repeat: no-repeat;
  right: 25.4vw;
  bottom: 10.7vh;
}
.koliz {
  position: relative;
  background: url("../images/coliz.svg");
  background-size: contain;
  width: 7.20vw;
  height: 5.18vw;
  background-repeat: no-repeat;
}
.stickleft {
  position: absolute;
  background: url("../images/stick.svg");
  background-size: contain;
  width: 1.90vw;
  height: 9.02vw;
  background-repeat: no-repeat;
  left: 3vw;
  /* left: 31.5vw;
  bottom: 13.3vh; */
  transform: rotate(45deg);
}
.stickright {
  position: absolute;
  background: url("../images/stick.svg");
  background-size: contain;
  width: 1.90vw;
  height: 9.02vw;
  background-repeat: no-repeat;
  left: 3vw;
  /* left: 31.9vw;
  bottom: 13.3vh; */
  transform: rotate(-45deg);
}
/* .eyecontainer {
  position: relative;
  background-image: url("images/eye.svg");
  width: 4.52vw;
  height: 2.57vw;
  background-repeat: no-repeat;
  margin-left: calc(50vw - 2.26vw);
  margin-top: 27.5vw;
} */
.pupil {
  position: absolute;
  background-image: url("../images/pupil.svg");
  width: 1.61vw;
  height: 1.61vw;
  left: 28%;
  top: 14%;
  background-repeat: no-repeat;
  background-size: contain;
}

.movement {
  position: relative;
  /* background-color: red; */
  height: 2.1vw;
  width: 3vw;
  margin-top: 0.2vw;
  margin-left: calc(2.26vw - 1.5vw);
  border-radius: 50%;
}
* {
  z-index: 100;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index:1;
}
.ornament {
  background-image: url("../images/testtest.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.mb {
  position: absolute;
  background-image: url("../images/mb.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  max-height: 100vh;
}
* {
  text-decoration: none;
}
.name {
  position: absolute;
  left: 1.5vw;
}
h1 {
  margin-top: 15px;
  margin-bottom: 3px;
  font-family: Garamond;
  font-weight: bold;
font-size: 5.30vw;
}
.name p {
  margin: 0 auto;
  margin-left: 6px;
  font-family: Pragmatica;
  font-size: 21px;
line-height: 27px;
width: 309px;
}
.sidepannel {
  position: absolute;
  right: 25px;
  top: 25px;
  /* background-color: red; */
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.time {
margin-left: auto;
width: 52px;
height: 52px;

}
/* .sun {
  background-image: url("images/sun.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .5s;

} */
.sun {
  width: 52px;
  height: 52px;
  overflow: hidden;
  background: url("../images/sun.svg") no-repeat 0 0%;
  background-size: cover;
  animation: sun 0.6s steps(6);
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

@keyframes sun {
    from { background-position: 0 0; }
      to { background-position: 100% 0; }
}
.moon {
  background-image: url("../images/moon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.eye {
  position: absolute;
  width: 4.52vw;
  height: 2.57vw;
  left: 47.6vw;
  top: 27.5vw;
  overflow: hidden;
  background-color: white;
  -webkit-clip-path: url(#clip);
     clip-path: url(#clip);
}
.white {
  position: absolute;
  background: url("../images/eye.svg");
  background-size: contain;
  width: 4.52vw;
  height: 2.57vw;
  overflow: hidden;
  background-repeat: no-repeat;
  right: 48vw;
  top: 43.9vh;
}
.sidepannel p {
  font-family: Garamond;
  font-weight: bold;
font-size: 40px;
margin-top: 20px;
margin-left: auto;
}
.coord {
  margin-left: auto;
}
.cursor {
  display: block;
  position: absolute;
border-radius: 50%;
pointer-events: none;
}
.normal {
  width: 8px;
height: 8px;
background-color: white;
transform-origin: center center;
transition: transform 0.5s ease;
}

.active {
  /* border: 0.01vw solid white; */
  background-color: transparent;
  transform-origin: center center;
  transform: scale(6);
  transition: transform 0.5s ease;
}
.cursot::after {
  border: 1px solid white;
}
#line {
  position: absolute;
  width: 1px;
  /* height: 2100px; */
  top: 0;
  bottom: 0;
  background-color: white;
  pointer-events: none;
}
#line2 {
  position: absolute;
  /* width: 3360px; */
  height: 1px;
  left: 0;
  right: 0;
  background-color: white;
  pointer-events: none;
}
@font-face {
   font-family: Pragmatica;
   src: url(../fonts/Pragmatica.otf);
  }
.info {
position: absolute;
width: 33.33vw;
height: 100%;
background: #000000;
left: -33.33vw;
transition: 1s ease;
opacity: 0;
}
.cross {
  position: absolute;
  background: url("../images/cross.svg");
  background-size: contain;
  width: 2.08vw;
  height: 2.08vw;
  background-repeat: no-repeat;
  right: 34px;
  top: 51px;
}
.info h1 {
position: absolute;
left: 34px;
top: 39px;;
font-family: Garamond;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 62px;
color: #FFFFFF;
}
